# Data Science Tools and Ecosystem

In this notebook, Data Science tools and Ecosystems are summarized

**Objectives:**
* Popular Languages Data Sceintist use
* Commonly used libraries by Data Scientist
* Open source Data Science Tools
* Arithmetic operations in Python

Some of the popular languages Data Scientist use are:
1. Python
2. R Language
3. Java
4. C 
5. Scala
6. Julia

Some of the commonly used libraries used by Data Scientist include:
1. Pandas
2. Numpy
3. Sklearn
4. Matplotlib
5. ggplot

| Data Science Tools | 
| --- | 
| Jupyter Notebooks |
| RStudio |
| Apache Spark |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in python

In [1]:
(3*4)+5

17

In [2]:
# his will convert 200 minutes to hours by diving by 60
min = 200
hours = min/60
hours

3.3333333333333335

## Author
Muhammad Bilal